{% extends 'base.html' %}

{% block content %}
<h1>Welcome me</h1>
<div id = "tweets" >
     Replacement ff
</div>


<script type="application/javascript" >
    const tweetElements = document.getElementById("tweets")
    tweetElements.innerHTML ='Loading...'
    
     console.log('kite') 
    const xhr = new XMLHttpRequest() 
    const method = 'GET' 
    const url = "/tweet"
    const responseType = "json" 

    xhr.responseType=responseType
    xhr.open(method, url)

    xhr.onload = function (){
        // console.log("hello") 
        console.log(xhr.response)
        const serverResponse= xhr.response
        var listedItems=serverResponse.response
        console.log(listedItems)
    }
    xhr.send()          
</script>

{% endblock content%}